.clientList__wrapper{
    padding:1.5em;
    background: #fff;
    border-radius: 10px;
    margin:0 1em 1em 0;
    // box-shadow:2px 2px 4px $pea-shadow;
    min-width:270px;
    background: beige;

        .clientList__item{
            display:flex;
            flex-direction: column;
            align-content: flex-start;
            border-bottom:1px solid $divider;

            &--name{

                    h5{
                        font-size:1.2em;
                        text-transform: capitalize;
                        color: white;
                        padding: 1em;
                        background: #4cdef5;
                        border-radius: 50px 0;
                        margin-top: 0;
                        text-align:center;
                    }
                }

            .clientList__details{

               &--email,
               &--videos{
                   display: flex;
                   justify-content: flex-start;
                   align-items:center;
                   
                    span{
                           color:grey;
                       }
                   p{
                       margin:0 0 0 .5em;

                   }
               }
            }
            &--button{
                align-self: flex-end;
                margin:.5em 0;

                button{
                    background:#fff;
                    font-size:.7em;
                    padding:0 .4em;
                    border-radius: 10px;

                    h5{
                        color:#0095FF;
                    }

                    &:hover{
                        border-radius: 50px;
                        background:$blush;
                    }
                    &:hover h5{
                        color:#fff;
                    }
                }
            }
}




// .client__editor{
    // position: fixed;
    // background: grey;
    // display: flex;
    // justify-content: space-evenly;
    // align-items: center;
    // width: 100vw;
    // height: 100vh;
    // top: 20%;
    // left: 10%
    
    
    
    
    
}