.admin__clientList{

    .clientList{

        display:flex;
        flex-wrap:wrap;
        justify-content: flex-start;
        align-items: center;

        // &__wrapper{
        //     padding:1.5em;
        //     background: #fff;
        //     border-radius: 10px;
        //     margin:0 1em 1em 0;
        //     box-shadow:2px 2px 4px $pea-shadow;
        // }
    }
}