.clientList__wrapper{
    padding:1.5em;
    background: #fff;
    border-radius: 10px;
    margin:0 1em 1em 0;;
    width:auto;
    background: beige;
     

        .clientList__item{
            display:flex;
            justify-content: flex-start;
            align-items: center;
            padding-bottom:1em;

            &--name{

                    h5{
                        font-size:1.2em;
                        text-transform: capitalize;
                        color: white;
                        padding: 1em;
                        background: #4cdef5;
                        border-radius: 50px 0;
                        margin-top: 0;
                        text-align:center;
                        transition: all .4s ease-in-out;

                        &:hover,
                        &:focus,
                        &:active,
                        &:visited{
                            background: $orchid;
                            border-radius: 0 50px;
                            transition: all .4s ease-in-out;
                        }
                    }
                }

            &--button{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin:1em 0 0;

                button{
                    background:#fff;
                    font-size:.7em;
                    padding:0 .4em;
                    border-radius: 10px;
                    transition:all .5s ease-in-out;

                    h5{
                        font-family: $regular;
                        color:#0095FF;
                        transition:all .5s ease-in-out;
                    }

                    &:hover{
                        border-radius: 50px;
                        background:$blush;
                        transition:all .5s ease-in-out;
                    }
                    &:hover h5{
                        color:#fff;
                        transition:all .5s ease-in-out;
                    }
                }
            }
            
}
  .clientList__details{

               &--email,
               &--videos{
                   display: flex;
                   justify-content: flex-start;
                   align-items:center;
                   
                    span{
                           color:grey;
                       }
                   p{
                       margin:0 0 0 .5em;

                   }
               }
            }
}
.client__editor{
                position: absolute;
                top: 0;
                left: 0;
                background:rgba(41, 194, 251, 0.7);
                padding:2em;

                div{

                    form{

                        .select-videos{
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            flex-wrap: wrap;
                        }
                    }
                }
            }