.clientItem{
    padding:1.5em;
    border-radius: 10px;
    margin:0 1em 1em 0;;
    width:auto;
    background: beige;
     

        &__module{
            display:flex;
            justify-content: space-between;
            align-items: flex-start;
            padding-bottom:1em;

            .clientItem__details{
            display:flex;
            justify-content: flex-start;
            align-items: center;

            &--name{

                    h5{
                        font-size:1.2em;
                        text-transform: capitalize;
                        color: white;
                        padding: 1em;
                        background: #4cdef5;
                        border-radius: 50px 0;
                        margin-top: 0;
                        text-align:center;
                        transition: all .4s ease-in-out;

                        &:hover,
                        &:focus,
                        &:active,
                        &:visited{
                            background: $orchid;
                            border-radius: 0 50px;
                            transition: all .4s ease-in-out;
                        }
                    }
                }
            
               &--contact-videos{
                    margin-left:1em;

                   .email,
                   .videos{
                        display: flex;
                        justify-content: flex-start;
                        align-items:center;

                            span{
                                    color:grey;
                                }
                            p{
                                margin:0 0 0 .5em;

                            }
                   }
                   
                
               }
            }
            &--button{
                display: flex;
                justify-content: flex-end;
                align-items: center;
              

                button{
                    background:#fff;
                    font-size:.7em;
                    padding:0 .4em;
                    border-radius: 10px;
                    transition:all .5s ease-in-out;

                    h5{
                        font-family: $regular;
                        color:#0095FF;
                        transition:all .5s ease-in-out;
                    }

                    &:hover{
                        border-radius: 50px;
                        background:$blush;
                        transition:all .5s ease-in-out;
                    }
                    &:hover h5{
                        color:#fff;
                        transition:all .5s ease-in-out;
                    }
                }
            }
    }


    .client__editor{
                    padding:2em;
                    height:0px;
                    margin-top:-100px;
                    transition: all 1s ease-in-out;
                            

                        .edit__form{
                            display:flex;
                            flex-direction:column;


                            .select-videos{
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                flex-wrap: wrap;
                            }
                            &--buttons{
                                align-self: flex-end;

                                .close{
                                    background:none;
                                    border:2px solid $primary-cta-text-link;
                                    color:$primary-cta-text-link;
                                    padding:.5em 1em;
                                    font-size:.7rem;

                                    &:hover{
                                        background:#fff;
                                    }
                                }

                                .update{
                                    border:2px solid $primary-cta-text-link;
                                    margin-left:1em;
                                    padding:.5em 1em;
                                    font-size:.7rem;

                                    &:hover{
                                         border-color:$blush;
                                    }
                                }
                            }
                        }
                
    }
    .client__editor.isOpen{
        height:auto;
        margin-top:0;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1s;
        

    }
    
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}



