$main-black:#323232;  
$text-label:#AFAFAF;
$text-field-border:#E1E1E1;
$text-field-bg:#FAFAFA;
$electric:#4cdef5;
$pea:#a4d555;
$blush:#ff5992;
$orchid:#841983;

$navigation-bg: $main-black; 
$primary-cta-text-link:#0095FF; 
$primary-cta-hover:#0065AD;
$main-menu-link:#FAFAFA;
$main-menu-active:#ffffff;
$divider:#E1E1E1;