footer{
    // height: 10vh;
    // background: rgba(132,25,131,.8);
    // background:rgba(255,89,146,.8);
    background:rgba(237,192,25,.8);
    margin-top: 15vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    color:#fff;
}