header{
    padding:1em 0;
    width:100%;
    background:rgba(41,194,251,0.7);
    display: flex;
    justify-content: space-between;
    align-items:center;

   section{
        display: flex;
        justify-content: space-between;
        align-items:center;

        a{
            text-decoration:none;
            color:#fff;
            
            .header__title{
                font-family: $sauna-bold;
                font-size:1.6em;
            }
            button{
                background:none;
                border:2px solid #fff;
                color:#fff;

                &:hover{
                    border-color:$blush;
                }
            }
        }
    }
    
}