header{
    position:fixed;
    padding:1em 0;
    width:100%;
    background:rgba(41,194,251,0.7);
    display: flex;
    justify-content: space-between;
    align-items:center;

   section{
        display: flex;
        justify-content: space-between;
        align-items:center;

        a{
            text-decoration:none;
            color:#fff;
            
            .header__title{
                font-family: $sauna-bold;
                line-height: 1em;
                font-size: 1em;
            }
            button{
                background:none;
                border:2px solid #fff;
                color:#fff;
                padding: .5em 1.5em;
                font-size:.8rem;

                &:hover{
                    border-color:$blush;
                }
            }
        }
    }
    
}
@media screen and (min-width:768px){
   header{
       position: relative;
   } 
}