.video-options {
  width: auto;


  label{
      font-size: .9em;
      padding:.6em 1em .4em;
      border-radius:20px;
      background:#fff;
      color:$orchid;
      border:2px solid #fff;
    }

  &__checkbox {
    width: auto;
    visibility: hidden;
    

    

    &:checked + label {
      background:$orchid;
      color:#fff;
    }
  }
  

}
