@import "partials/colors";
@import "partials/fonts";
@import "partials/header";
@import "partials/login";
@import "partials/clientItem";
@import "partials/clientList";
@import "partials/admin";
@import "partials/footer";
@import "partials/videoOptions";
@import "partials/clientView";
@import "partials/videoItem";
@import "partials/videoList";



html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}



/* Maintain consistant container widths */
@mixin container($width, $max-size, $side-margins){
    width:$width;
    max-width: $max-size;
    margin:0 $side-margins;
}


body{
    margin:0;
    color:$main-black;
    font-family: $regular;
 
}

h1{
  font-family: $sauna-bold;
  font-size:3.5rem;
  line-height:2rem;
  margin-top:2rem; 

}
h2{
    font-family: $roboto;
    font-size: 1.5rem;
    line-height:2rem;
    margin:0;
}
h3{
    font-family: $demi;
    font-size:1rem;
    line-height: 1.5rem;
}
h4{
    font-family:$regular;
    font-size:.82rem;
    line-height: 1.15rem;
    font-weight:500;
}


.lists{
        line-height:1.25rem; 
        margin-right:2em;
}
h5{
    font-family: $demi;
    font-size:.75rem;
    line-height: 1.25rem;
    color:$text-label;
    text-transform: uppercase;
}
section{
    @include container(90%, 1200px, auto);
}
main{
    @include container(100%, none, auto);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // background:radial-gradient(rgba(126,208,38,0.7),rgba(126, 200, 30, 1));
    background:radial-gradient(rgba(126,208,38,0.7),#9ec11a);
    background-repeat: no-repeat;
    background-size:cover;
    
}
button{
    text-transform: uppercase;
    padding:1em 2em;
    background:$primary-cta-text-link;
    color:#fff;
    border-radius:50px;
    border:none;
    transition: all .4s ease-in-out;
    font-size:1rem;
    
    &:hover
   {
        background:$blush;
        transition: all .4s ease-in-out;
    }
    &:active,
    &:visited
    {
        background:$blush;
    }

    &:focus{
        outline:none;
    }
}
 input, textarea{
            border:1px solid $text-field-border;
            background:$text-field-bg;
            border-radius: 4px;
            outline:none;
            width:100%;
            margin:0 0 2.2em 0;
            padding:1em;
            font-size:1rem;
        }
textarea, 
textarea::placeholder,
input::placeholder{
    font-family:$regular;
    font-size:1rem;
}
input:focus, textarea:focus{
    border-color:$primary-cta-text-link;
}




@media screen and(min-width:768px){
    h1{
        font-size:5.25rem;
        line-height:2.75rem; 
        margin-top:3rem; 
    }
    h4{
        font-size:.88rem;
        line-height:1.4rem;
    }

}