@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: 'AvenirNextLTPro-Demi';
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
}

@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}

header {
  padding: 1em 0;
  width: 100%;
  background: rgba(41, 194, 251, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header section a {
  text-decoration: none;
  color: #fff;
}

header section a .header__title {
  font-family: "sauna-new";
  font-size: 1.6em;
}

header section a button {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}

.login {
  padding: 23% 0 30.2%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.login .login-container__title {
  margin: 0;
  font-size: 7rem;
  line-height: 6rem;
  color: #fff;
  text-shadow: 3px 3px 5px #567c18;
}

.login .login-container__subtitle {
  color: #fff;
  font-size: 1.3rem;
  margin: 1rem 0 4rem 0;
}

.login .login-container__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .login-container__form input {
  width: 300px;
  margin: 0 0.8em 0 0;
}

.login .login-container__form button {
  background: #841983;
}

.login .login-container__form button:hover {
  background: #ff5992;
}

.admin__clientList .clientList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin__clientList .clientList__wrapper {
  padding: 1.5em;
  background: #fff;
  border-radius: 10px;
  margin: 0 1em 1em 0;
  -webkit-box-shadow: 2px 2px 4px #567c18;
          box-shadow: 2px 2px 4px #567c18;
}

.admin-section {
  padding: 2.2em 0 14em;
}

.admin-section__title {
  font-size: 3.5rem;
  line-height: 2rem;
  color: #fff;
}

.admin-section .admin-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.admin-section .admin-columns h2 {
  color: #FAFAFA;
  margin: .5em 0 1em;
}

.admin-section .admin-columns__list {
  width: 54%;
}

.admin-section .admin-columns__form {
  width: 43%;
  padding: 1.5em 1em;
  background: rgba(86, 124, 24, 0.3);
  border-radius: 15px;
}

.admin-section .admin-columns__form form .admin-form-input {
  margin-bottom: 1em;
  width: 90%;
  padding: .7em;
}

.admin-section .admin-columns__form form .select-videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1.5em 0 2.5em;
}

.admin-section .admin-columns__form form button {
  float: right;
}

footer {
  background: rgba(237, 192, 25, 0.8);
  width: 100%;
  color: #fff;
}

.video-options {
  width: auto;
}

.video-options label {
  font-size: .9em;
  padding: .5em 1em;
  border-radius: 20px;
  background: #fff;
  color: #841983;
  border: 2px solid #fff;
}

.video-options__checkbox {
  width: auto;
  visibility: hidden;
}

.video-options__checkbox:checked + label {
  background: #841983;
  color: #fff;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Maintain consistant container widths */
body {
  margin: 0;
  color: #323232;
  font-family: "AvenirNextLTPro-Regular";
}

.App {
  height: 100vh;
}

h1 {
  font-family: "sauna-new";
  font-size: 3.5rem;
  line-height: 2rem;
  margin-top: 2rem;
}

h2 {
  font-family: "Roboto Slab";
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}

h3 {
  font-family: "AvenirNextLTPro-Demi";
  font-size: 1rem;
  line-height: 1.5rem;
}

h4 {
  font-family: "AvenirNextLTPro-Regular";
  font-size: .82rem;
  line-height: 1.15rem;
  font-weight: 500;
}

.lists {
  line-height: 1.25rem;
  margin-right: 2em;
}

h5 {
  font-family: "AvenirNextLTPro-Demi";
  font-size: .75rem;
  line-height: 1.25rem;
  color: #AFAFAF;
  text-transform: uppercase;
}

section {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

main {
  width: 100%;
  max-width: none;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(126, 208, 38, 0.7)), to(rgba(126, 208, 38, 0.7))), url("../assets/images/massage-room.jpg");
  background: linear-gradient(rgba(126, 208, 38, 0.7), rgba(126, 208, 38, 0.7)), url("../assets/images/massage-room.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  text-transform: uppercase;
  padding: 1em 2em;
  background: #0095FF;
  color: #fff;
  border-radius: 50px;
  border: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-size: 1rem;
}

button:hover {
  background: #ff5992;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

button:active, button:visited, button:focus {
  background: #ff5992;
}

button:focus {
  outline: none;
}

input, textarea {
  border: 1px solid #E1E1E1;
  background: #FAFAFA;
  border-radius: 4px;
  outline: none;
  width: 100%;
  margin: 0 0 2.2em 0;
  padding: 1em;
  font-size: 1rem;
}

textarea,
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  font-family: "AvenirNextLTPro-Regular";
  font-size: 1rem;
}

textarea,
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  font-family: "AvenirNextLTPro-Regular";
  font-size: 1rem;
}

textarea,
textarea::-ms-input-placeholder,
input::-ms-input-placeholder {
  font-family: "AvenirNextLTPro-Regular";
  font-size: 1rem;
}

textarea,
textarea::placeholder,
input::placeholder {
  font-family: "AvenirNextLTPro-Regular";
  font-size: 1rem;
}

input:focus, textarea:focus {
  border-color: #0095FF;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5.25rem;
    line-height: 2.75rem;
    margin-top: 3rem;
  }
  h4 {
    font-size: .88rem;
    line-height: 1.4rem;
  }
}
/*# sourceMappingURL=app.css.map */